@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    user-select: none;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-color: #2b1055;
    opacity: 100%;
    background-color: transparent;
    transition: background-color 0.5s ease;
}

/* Ми пишемо якщо хочемо внести зміни для ВСІХ класів .logo які є ЛИШЕ в хедері */
header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;

    @media screen and (max-width: 768px) {
        font-size: 1.3em;
    }
}

/* Ми пишемо якщо хочемо внести зміни для ВСІХ ul які є ЛИШЕ в хедері */
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ми пишемо якщо хочемо внести зміни для ВСІХ li які є ЛИШЕ в хедері в ul */
header ul li {
    list-style: none;
}

/* Ми пишемо якщо хочемо внести зміни для ВСІХ li які є ЛИШЕ в хедері */
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover, 
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 100;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountains_front  {
    z-index: 10;

}


#text {
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p {
    font-size: 1.2em;
    color: #fff;
}

.up {
    position: fixed;  /* Фіксує позицію елемента на екрані */
    bottom: 10px;  /* Відстань від нижнього краю екрану */
    right: 20px;
    padding: 20px;
    background: #2b1055;
    color: #fff;
    font-size: 1.5em;
    /* z-index: 9; */
    transform: translateY(-40px);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}